node_modules/
*.log
.env
# Exclude all untracked directories
2D-Game-Portfolio-/
AI_Plant_App/
Angular-App-tutorial/
*-guided/
*-project/
node_modules/
# BloomTech learning projects and exercises
Axios-Labs2/
Bloom-Express-P/
BloomTech-Portfolio/
Button-Effect-mouse-tracking/
Components-I/
Creating-J.A.R.V.I.S.-powered-by-GROQ/
Cypress-Testing/
DOM-I/
DOM-II/
DSA-PRACTICEQ/
DataStructures/
Frontend-Developer-Portfolio/
HallPass-Parent-Teacher-Communication-app/
Healthy-Recipes-Website/
Introduction-to-JavaScript/
JS-Loops.md/
Morocco-Website/
New-Portfolio/
Portfolio-React-Tailwind/
QOTD_Backend/
Random-Quote-Machine2-/
React-Components-Insta-Clone/
React-Router-Movies/
React-Tailwind-Portfolio/
TestAI/
Text2SpeechAPIPollyBV3/
Text2SpeechAPIPollyV3/
Text2SpeechApiBabel/
Toybox/
User-Onboarding/
Vite-React-App/
ai-groq-rpg/
asylum-old/
asylum-rg-fe-starter/
auth0-react-sample/
boilerplate-infosec/
bookLibraryDocumentation/
chatty-gpt/
chatty-typescript/
codecrafters-http-server-javascript/
express-text-2-speech/
fullstack-architecture-evolution/
github-profile-readme-generator/
github-usercard/
guidedai/
htmlcanvas_game_starter/
http-server-js/
labs-bd-vite-starter-branch/
langchain-agent/
login-form/
mesengr/
microservices-mall-architecture/
my-Vite-Apprentice/
my-vite-pro/
myportfolio/
mysterious-table-decoder/
nasa-photo-of-the-day/
netflixer/
openai-api-examples-node/
parallax-app/
project-based-learning/
project_3D_developer_portfolio/
random-quote-machine/
react-earth-port/
react-stateful-widgets/
talkAnimateAWS/
team-builder/
web-guided-project-HTTP/
web-guided-project-advanced-forms/
web-guided-project-async-redux/
web-guided-project-class-components/
web-guided-project-client-auth/
web-guided-project-component-side-effects/
web-guided-project-components-1/
web-guided-project-context/
web-guided-project-custom-hook/
web-guided-project-cypress/
web-guided-project-deploying-web-apps/
web-guided-project-dom-1/
web-guided-project-dom-2/
web-guided-project-form-management/
web-guided-project-lifecycle/
web-guided-project-react-components-1/
web-guided-project-react-components-2/
web-guided-project-react-router/
web-guided-project-reducer/
web-guided-project-redux/
web-guided-project-styling-components/
web-guided-project-testing-react/
web-module-challenge-array-methods-and-callbacks/
web-module-challenge-arrays/
web-module-challenge-classes/
web-module-challenge-css-layouts/
web-module-challenge-intro-css/
web-module-challenge-objects/
web-module-challenge-prototypes/
web-module-challenge-responsive-design/
web-module-challenge-scope-and-closure/
web-module-challenge-user-interface/
web-module-project-HTTP/
web-module-project-async-redux/
web-module-project-class-components/
web-module-project-client-auth/
web-module-project-context/
web-module-project-custom-hook/
web-module-project-deploying-web-apps/
web-module-project-lifecycle/
web-module-project-reducer/
web-module-project-redux/
web-module-project-testing-react/
web-module-project-testing-web-apps/
web-sprint-challenge-adding-data-persistence/
web-sprint-challenge-advanced-react/
web-sprint-challenge-advanced-state/
web-sprint-challenge-advanced-web-applications/
web-sprint-challenge-applied-javascript/
web-sprint-challenge-authentication-and-testing/
web-sprint-challenge-build-a-web-api/
web-sprint-challenge-git-and-intro-js/
web-sprint-challenge-intro-to-react/
web-sprint-challenge-javascript-fundamentals/
web-sprint-challenge-single-page-applications/
web-sprint-challenge-user-interface-responsive-design/
web_code_along_17.1_structures_recursion_solution/
web_code_along_17.1_structures_recursion_starter/
web_code_along_18.1_binary_trees_solution/
web_code_along_18.1_binary_trees_starter/
web_code_along_19.1_sorting_solution/
web_code_along_19.1_sorting_starter/
web_code_along_20.1_graphs_solution/
web_code_along_20.1_graphs_starter/
web_code_along_4.1_intro_code_signal_solution/
website_starter/
